{% extends "Index.html" %}

{% block content  %}
<div class="container">
    <div class="page-header">
        <h1 class="text-center">JSON
            <small>список документов</small><button type="button" id='create' class="btn btn-small">Создать новый</button>
        </h1>
    </div>
</div>
<div id="body" class="container">
    <div class="row " id="text">
        <div class="text-center">
            <p class="text-center"><textarea rows="10" id='edit' cols="45" name="text">{{JsonDoc}}</textarea></p>
            <button type="button" id='editbutton' class="btn btn-small">Редактировать</button>
        </div>
        <hr>
    </div>

</div>
<div id="light-pagination" class="pagination"></div>



</div>
{% endblock %}

{% block skript1 %}

<!--<script type="text/javascript"> -->

$('#body').append(' <div class="row " id="text">'+
        '<div class="text-center">'+
        '<p class="text-center"><textarea rows="10" id="edit" cols="45" name="text"></textarea></p>'+
'<button type="button" id="editbutton" class="btn btn-small">Редактировать</button>'+
        '</div><hr></div>')

$('#light-pagination').pagination({

    cssStyle: 'light-theme'
});


request(1)


function request(page) {

    $.when($.ajax('http://jsondoc/Json/.json?page=' + page)).then(function (result) {
        console.log(JSON.stringify(result));
        console.log(result)

        $('#light-pagination').pagination('updateItems', result.items.properties.pagination.required[0].total)
        $('#light-pagination').pagination('updateItemsOnPage', result.items.properties.pagination.required[0].perPage);

    });

}



{% endblock %}