<div class="container">
    <div class="page-header">
        <h1 class="text-center">JSON
            <small>создать редактировать</small>

        </h1>
    </div>
</div>

<div class="row " id="text">
    <div class="text-center">
        <form id="save"  >
            {% if  not item.isnew %}
            <p>Идентификатор: {{item.guid}} </p>
            <p> Создано:{{item.createat|date("d.m.Y H.i.s")}}</p>
            {% if item.modifyat %}
            <p>Изменено: {{item.modifyat|date("d.m.Y H:i:s")}}</p>
            {% endif %}
            {% if item.published %}
            <p >Опубликовано: {{item.modifyat|date("d.m.Y H.i.s")}}</p>
            {% else %}
            <p>Статус: черновик</p>
            {% endif %}
            {% endif %}
        <input id="id" type="hidden" name="__id" value="{{item.pK}}">
        <p class="text-center"><textarea rows="10" id="edit" cols="45" name="payload">{{item.payload}}</textarea></p>

            <a href="javascript:void(0)" class="action btn btn-small" data-action="save">Сохранить</a>
            <a href="javascript:void(0)" class="action btn btn-small" data-action="publish">Опубликовать</a>
            </form>
    </div>
    <hr>
</div>

<script type="text/javascript">

    $(".action").click(function () {
        var formData = $(this).closest('form').serializeArray();
        formData.push({name: 'action', value: $(this).data('action')});
        var tz = new Date().getTimezoneOffset();
        //data.payload = JSON.parse($('#edit').val())
        formData.push({name: 'tz', value: tz})
        $.post("//jsondoc/Save.json", formData, function () {
            list(1)
            //$('.result').html(JSON.stringify(formData));
        })
    })





