{% extends 'Index.html' %}
{% block content %}

<div class="container">
    <div class="page-header">
        <h1 class="text-center">JSON
            <small>создать редактировать</small>

        </h1>
    </div>
</div>

<div class="row " id="text">
    <div class="text-center">
        <p class="text-center"><textarea rows="10" id="edit" cols="45" name="text"></textarea></p>
        <button type="button" id="editbutton" class="btn btn-small">Редактировать</button>
    </div>
    <hr>
</div>
{% endblock %}