


<div class="container">
    <div class="page-header">
        <h1 class="text-center">JSON
            <small>список документов</small>
        </h1>
    </div>
</div>




<div class="container ">
    <div id="light-pagination" class="pagination "></div>
</div>




<script type="text/javascript">

function newdoc(){
    $('section').load('//jsondoc/Edit?id=new',function(response, status, xhr){
    if(status=='error'){
        $('section').html(response)


    }
    })
    return false
}

function puginator(result) {
    $('#light-pagination').pagination('updateItems', result.items.properties.pagination.required[0].total)
    $('#light-pagination').pagination('updateItemsOnPage', result.items.properties.pagination.required[0].perPage);
}

$(function() {
    $('#light-pagination').pagination({

        cssStyle: 'light-theme'
    })
})

</script>


