<div class="container">
    <div class="page-header">
        <h1 class="text-center">JSON
            <small>список документов</small>
        </h1>
    </div>
</div>
{% for item in items %}
<div id="doc" class="row " >
        <div class="text-center">
        <form id="save" method="post"  action="javascript:void(null); ">
            <p>Идентификатор: {{item.guid}} </p>
            <p> Создано: {{item.createat|date("d.m.Y H.i.s")}}</p>
            <p>Изменено: {{item.modifyat|date("d.m.Y H.i.s")}}</p>
            {% if item.published %}
            <p >Опубликовано: {{item.modifyat|date("d.m.Y H.i.s")}}</p>
            {% else %}
            <p>Статус: черновик</p>
            {% endif %}
            <p class="text-center"><textarea rows="10" id="edit" cols="45" name="payload" value="">{{item.payload}}</textarea></p>
            <button type="button"  class="btn btn-small" value="{{item.Pk}}" >
                редактировать
            </button>
        </form>
    </div>
    <hr>
</div>
{% endfor %}








