<div id="title" class="container">
    <div class="page-header">
        <h1 class="text-center">JSON
            <small>список документов</small>
        </h1>
    </div>
</div>

<div class="row " id="body">
    <div class="text-center">
        <form id="save" method="post"  action="javascript:void(null); ">
            <input id="id" type="" name="__id" value="">
            <p class="text-center"><textarea rows="10" id="edit" cols="45" name="payload"></textarea></p>
            <input type="checkbox" class="custom-control-input" id="defaultUnchecked" name="published">
            <label class="custom-control-label" for="defaultUnchecked">Опубликовать</label>
            <button type="button" id="editbutton" class="btn btn-small" value="save" onclick="list('http://jsondoc/List.json?page=2');">
                редактировать
            </button>
        </form>
    </div>
    <hr>
</div>

<div id="footer" class="container ">
    <div id="light-pagination" class="pagination "></div>
</div>
<script type="text/javascript">

</script>